.pageWrapper{
  padding:30px 20px 30px 20px;
}

.pageWrapper--loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageWrapper__movie{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:100%;
  height:100%;
}

.movie__image, .movie__info{
  margin-right: 20px;
  margin-left: 20px;
}

.movie__info{
  flex-basis: 300px;
  flex-grow: 1;
  max-width: 500px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__actions{
  width:100%;
  justify-self:flex-end;
  display: flex;
  justify-content: flex-end;
}

.actions__edit{
  display: flex;
  width:100%;
  justify-content: space-between;
}

.edit__button{
  margin: 0 5px 0 5px;
}

.movie__displays{
  margin-top:30px;
  width:100%;
  display: flex;
  justify-content: center;
}

.movie__image{
  position: relative;
  overflow: hidden;
  height:437px;
  width:300px;
}

.image__fileInputWrapper{
  position: absolute;
  bottom:0;
  background: #b1b1b1a4;
  width:100%;
}

.fileInputWrapper__styledButton{
    // need to use margin instead of padding in parent because of animation
    margin: 10px 5px 10px 5px;
}

.fileInputWrapper__hiddenInput{
  display: none;
}

.fileInputWrapper__filename{
  font-size: 1rem;
}

mat-icon{
  vertical-align: middle;
}