.pageWrapper{
  padding:30px 20px 30px 20px;
}

.pageWrapper--loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageWrapper__movie{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie__image, .movie__info{
  margin-right: 20px;
  margin-left: 20px;
}

.movie__info{
  flex-basis: 300px;
  flex-grow: 1;
  max-width: 500px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__actions{
  width:100%;
  justify-self:flex-end;
  display: flex;
  justify-content: flex-end;
}

.actions__edit{
  display: flex;
  width:100%;
  justify-content: space-between;
}

.edit__button{
  margin: 0 5px 0 5px;
}