@import "../../../../shared/variables.scss";

.timeline{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width:90vw;
  height:30px;
}

.timeline__displays{
  display: flex;
  justify-content: space-between;
}

.timeline__bar{
  display: flex;
  height:30px;
  align-items: center;
  transform: translateY(-200%);
}

.bar__svg{
  width:90vw;
}

.svg__line{
  stroke: $purple;
  stroke-width:20;
  transform: translateX(-100%);

  animation-name: widthExpand;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.noDisplays{
  font-size: 1.5rem;
  opacity: 0.7;
}

@keyframes widthExpand{
  from {
    transform: translateX((-100%));
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes heightExpand{
  from {
    transform: translateY((-100%));
  }
  to {
    transform: translateY(0%);
  }
}

@media(max-width: 930px){
  .timeline{
    position: relative;
    height:1000px;
  }
  .timeline__displays{
    flex-direction: column;
    align-items: space-between;
  }

  .svg__line{
    transform: translateX(0);
    transform: translateY(-100%);

    animation-name: heightExpand;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .timeline__bar--vertical{
    position:absolute;
    top:0;
    left:10px;
  }
}