.pageWrapper{
  padding: 15px 20px 15px 20px;
}

.pageWrapper, .pageWrapper__movies{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.movies__cardWrapper{
  margin: 20px 15px 20px 15px;
}

.pageWrapper__addFab{
  position: fixed;
  right: 40px;
  bottom: 60px;

  mat-icon{
    transform: scale(1.5);
  }
}